.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
.search{
   
}
.searchBar{
   width: 562px;
   height: 26px;
}

.searchBtn{
    position: absolute;
    height: 32px;
    width: 55px;
    background-image: image("")
}

.icons{
}

.video{
    display: flex;
    justify-content: center; 
}

.video1{

}